html * {
    margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
    text-rendering: optimizeLegibility;
}

.BurntUmber {
    color: #8A3324;
}

.RawUmber {
    color: #826644;
}

.Umber {
    color: #635147;
}

body {
    font-family: "Georgia", serif;
    color: #444;
}

h1, h2, h3, h4, .date {
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    color: #8A3324;
}

#header {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 13px;
    font-style: italic;
    padding: 36px 0;
    color: #635147;
}

#header h1 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 36px;
    font-style: normal;
    color: Black;
}

#footer {
    padding-top: 50px;
    display: block;
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 12px;
    font-style: italic;
    line-height: 1.4em;
}

#footer img {
    border: 0;
    padding: 6px;
}

#page {
    width: 960px;
    margin: auto;
}

ul.pictures, ul.entries {
    list-style: none;
    padding-left: 0;
}

ul.pictures .picture-box {
    margin-top: 5px;
    margin-bottom: 10px;
}

ul.pictures .picture {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    padding: 5px 5px 2px 5px;
    text-align: center; /*display: block;*/
}

.picture-box .download {
    color: #826644;
    text-align: right;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.picture-box .download a {
    color: #826644;
}

.picture-box .download a:hover {
    color: #8A3324;
    text-decoration: underline;
}

.picture-box {
    float: left;
}

/* MAIN */

#main {
    vertical-align: top;
    width: 640px;
    display: inline-block;
    border-right: 1px solid #ddd;
}

#main div.date {
    width: 34px;
    display: inline-block;
    text-align: center;
    padding: 4px 4px 0px 4px;
    background-color: #f4f4f4;
    border: solid 1px #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 2px;
}

#main div.date span.day {
    font-weight: bold;
    color: #8A3324;
    font-size: 30px;
    line-height: 0.8em;
    display: block;
    height: 20px;
}

#main div.date span.month {
    font-size: 11px;
    letter-spacing: 1px;
}

#main h2 {
    display: inline-block;
    vertical-align: top;
}

#main h3 {
    padding: 10px 2px 10px 2px;
}

#main div.entry {
    padding-top: 20px;
}

#main img {
    border: 0px;
}

.entry-content {
    padding-right: 20px;
    padding-bottom: 20px;
}

/* SIDEBAR */

#sidebar {
    display: inline-block;
    vertical-align: top;
    padding: 34px 0px 40px 0px;
}

#sidebar ul.people {
    list-style: none;
    font-style: italic;
}

#sidebar ul.people li {
    padding: 6px 0px 6px 0px;
}

#sidebar ul.people li.selected a {
    color: #8A3324;
    font-weight: bold;
}

/* PAGINATION */

div.pagination {
    padding: 2px;
}

div.pagination a {

    text-align: center;
    display: block;
    padding: 6px;
    margin: auto;
    width: 160px;
    color: #8A3324;
}

div.pagination a:hover {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background-color: #8A3324;
    color: white;
    border-color: White;
}

div.tags {
    color: #635147;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
}

div.tags em {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
    padding-right: 5px;
    letter-spacing: -1px;
}
