html * {
    margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
    text-rendering: optimizeLegibility;
}

.BurntUmber {
    color: #8A3324;
}
.RawUmber {
    color: #826644;
}
.Umber {
    color: #635147;
}

body {
	font-family: "Georgia", serif;
	color: #444;
}

h1, h2, h3, h4, .date {
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
	color: #8A3324;
}

header {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: 13px;
	font-style: italic;
	padding: 36px;
    color: #635147;
}

header h1 {
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
	font-style: normal;
    color: Black;
}

footer {
	padding-top: 50px;
	display: block;
	text-align: center;
	border-top: 1px solid #ddd;
	font-size: 12px;
	font-style: italic;
}

footer img {
	border: 0;
	vertical-align: bottom;
	padding: 2px;
}

.page {
	width: 960px;
	margin: auto;
}

.content {
	vertical-align: top;
	width: 640px;
	display: inline-block;
	border-right: 1px solid #ddd;
}

.content ul {
	list-style: none;
	padding-left: 0;
}

.content div.date {
	display: inline-block;
	text-align: center;
	font-size: 10px;
	padding: 4px;
}

.content div.date b {
	font-size: 30px;
	line-height: 0.8em;
	color: #8A3324
}

.content h2 {
	display: inline-block;
	vertical-align: top;
}

.content div.entry {
	padding: 20px 0 20px 0px;
}

.content img {
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	margin: 5px 10px 10px 0;
	padding: 5px;
	text-align: center;
	display: block;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
	padding: 20px 0px 40px 0px;
}

div.pagination {
	padding: 2px;
}

div.pagination a {
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	text-align: center;
	display: block;
	padding: 6px;
	margin: auto;
	width: 200px;
	color: #8A3324;
	border: solid 1px #ddd;
}

div.pagination a:hover {
	background-color: #8A3324;
	color: white;
	border-color: White;
}

.sidebar ul.people {
    list-style: none;
}

.sidebar ul.people li {
    padding: 6px 0px 6px 0px;
}

.sidebar ul.people li.selected a {
    color: #ddd;
    font-weight:bold;
}